<div class="section experience">
    <h2>Research and Analysis</h2>
    <ul>
        {{#each items}}
        <li>
            <div class="experience-header">
                <div class="first-row">
                    <div class="fw-bold">{{title}}</div>
                    <span>{{organization}}</span>
                </div>
                <div class="second-row"><i class="fa fa-calendar"></i> {{dates}}</div>
            </div>
            <div class="experience-body">
                <ul>
                {{#each details}}
                <li>{{this}}</li>
                {{/each}}
                </ul>
            </div>
        </li>
        {{/each}}
    </ul>
</div>